@import url(./global.css);

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-nav-header {
    display: flex; 
    align-items: center;
    gap: 70px; /* Distância entre os elementos da nav, tem que tero display: flex; */
}

.navigation-header ul { /* Só vai estilizar as TAGS que estiverem dentro da classe navigation-header */
    display: flex;
    gap: 40px;
    list-style: none; /* Remove a bolinha */
}

.navigation-header ul li a {
    text-decoration: none; /* Decoração do texto */
    color: var(--color-black);
    font-family: var(--font-family-primary);
}

.navigation-header ul li .menu-active {
    color: var(--color-blue);
}

.btn-header {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-button);
    background-color: var(--color-blue);
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-header:hover {
    background-color: #005E89;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-color: var(--color-blue-10);
}

.main-content {
    display: flex;  /* Para habilitar o gap */
    flex-direction: column; /* Organizar em colunas */
    gap: 30px; /* Espaçento entre os elementos */
    width: 520px;
}

.main-content h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-primary);
    color: var(--color-black);
    font-weight: var(--font-weight-h1);
}

.main-content h1 span {
    color: var(--color-blue);
}

.main-content p {
    font-size: var(--font-size-body);
    font-family: var(--font-family-primary);
    color: var(--color-gray);
    font-weight: var(--font-weight-body);
    line-height: 30px;
}

.container-cta {
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary {
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: var(--font-weight-button);
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-button);
}


.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 0.3s; /* Delimita o tempo de transição do hover do elemento */
}

.btn-primary:hover {
    background-color: #005E89;

}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color:var(--color-blue-10);
}

/* SERVICES */

.section-services {
    display: grid; /* Responsividade melhor que o display flex, nesses casos */
    grid-template-columns: repeat(4, max-content);
    gap: 25px;
    padding: 30px 0px;
    justify-content: center;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-item-services h2 {
    font-family: var( --font-family-primary);
    font-weight: var(--font-weight-h4);
    font-size: var(--font-size-h4);
    color: var(--color-black);
}

.container-item-services p {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-caption);
    font-size: var(--font-size-caption);
    color: var(--color-gray-2);
}

/* DETAILS */

.section-details {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;  /* Cuida da horizontal quando utilizar o flex-direction */
    padding: 80px 0;
}

.details-presentation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.details-presentation h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-black);
}

.details-presentation p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-gray-2);
    width: 665px;
    margin: 0 auto;  /* Zera a margem da altura (em cima e em baixo) e das laterais fica automático os valores, o sistema defini*/
}

.service-description {
    display: flex;
    align-items: center;
    gap: 60px;
}

.content-service {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin: 27px; */
}

.service-details {
    display: flex;
    align-items: center;
    gap: 25px;
}

.service-details div span {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    color: var(--color-black);
}

.service-details div p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-caption);
    color: var(--color-gray-2);
}

.content-service h3 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    width: 420px;
}

.content-service h3 > span {
    color: var(--color-blue);
}

.content-service p {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-gray);
    line-height: 27px;
    width: 445px;
}

/* BENEFIT */

.section-benefit {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-benefit {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding: 60px 48px;
    border-radius: 20px;
}

.card-benefit p {
    width: 458px;
}

.card-benefit-secondary {
    background-color: #F4F4F4;
}

.btn-benefit {

}